
@media screen and (max-width:850px) {
    .top-header {
        justify-content: space-between;
    }

    .top-header button {
        display: block;
    }

    .nav-bar {
        position: absolute;
        flex-direction: column;
        top: 100px;
        width: 86%;
        border-inline-start: 1px solid var(--clr4);
        background-color: rgba(128, 128, 128, 0.712);
        font-size: 1.5em;
        transform: translateY(-150%);
        transition: .5s;
        opacity: 1;
    }

    body.menu-open .nav-bar {
        box-shadow: 0 3px 6px 0 var(--clr2);
        transform: translateY(0);
    }

    .nav-bar li {
        padding: 1em;
        width: 100%;
        border-bottom: 1px solid var(--clr4);
    }

    .card {
        flex-direction: column;
        margin-bottom: 5rem;
        flex-basis: 100%;
        padding: 1em;
        box-shadow: 0 3px 6px 0 #000;
        justify-content: center;
        align-items: center;
        transition: .5s;
    }

    .card .card-img {
        margin: 0 0 1em;
        width: 100%;
    }

    body.menu-open .card {
        opacity: 0.5;
        z-index: -1;
    }

    .footer {
        text-align: center;
        justify-content: space-between;
    }

    .footer p {
        line-height: 2rem;
    }

    .footer .social-links {
        margin-bottom: 2rem;
    }
}


@media screen and (min-width: 850px) and (max-width:1255px) {
    .top-header {
        min-height: 100px;
        justify-content: flex-start;
        align-items: flex-end;
    }
}
