.main-header {
    width: 100%;
    min-height: 8.125rem;
    background-color: #292929;
    color: #FFFFFF;
    margin-bottom: 4.375rem;
    font-family: lato-Regular;
}

.main-header .active {
    color: #58C93A;
}

.main-header .main-logo {
    font-family: eurofurence;
    font-size: 2.5rem;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 16.25rem;
}

.main-header .main-logo span{
    color: #58C93A;
}

.main-nav{
    margin-inline-end: 16.25rem;
    max-width: 1060px;
}

.main-header .main-nav a {
    color: inherit;
   text-decoration: none;
}

.main-header .main-nav a:hover {
   color: #58C93A;
}

