
body {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.714285714285714;
}


img {
    /* this is for responsive images */
    width: 100%;
}

ul{
    margin-right: auto;
}

li{
    min-width: 8.125rem;
    text-align: center;
    justify-content: center;
    display: flex;
}

